/* your code */
 table {
            width: 90%;
            margin: 50px auto;
            border-collapse: collapse;
            font-family: Arial, sans-serif;
            border-radius: 20px;
            overflow: hidden;
        }

        thead {
            background-color: #286090;
            color: white;
        }

        th {
            padding: 25px;
            text-align: left;
            font-size: 20px;
        }

        td {
            padding: 25px;
            font-size: 20px;
            color: #444;
        }

        tbody tr:nth-child(even) {
            background-color: #ddd;
        }

        tbody tr:nth-child(odd) {
            background-color: white;
        }